*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/*========= common css styles ======== */
a{
    text-decoration: none;
}
.btn{
    padding: 14px 22px;
    background-color: #ff5e00;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
}
/*========= banner styles  start======== */
#banner{
    height: 100vh;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;  
}
.banner-content{
    text-align: right;
    max-width: 1170px;
}
.banner-content .banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414; 
}
.banner-content p{
    font-size: 17px;
    line-height: 26px;
    margin: 20px 0 20px 0;
    margin-left: 700px;
}
/*========= about part styles  start======== */ 
#about{
    padding: 100px 0 50px 0;
}
.about-content{
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: auto;
}
.about-content .image img{
    width: 100%;
}
.about-content .image{
    width: 50%;
}
.about-content .details{
    width: 50%;
    padding-left: 100px;
    padding-top: 80px;
}
.about-content .details h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.about-content .details p{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    margin: 20px 0 20px 0;
}
.about-content .details .item{
    margin-bottom: 5px;
}
.about-content .details .item .check-list{
    color: #ff5e00;
    margin-right: 8px;
    font-weight: 600;
    font-size: 20px;
}
.about-content .details .item .list-content{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
}
/*===== paln style ====== */
.plan {
    max-width: 1170px;
    padding: 80px 0;
    margin: auto;
}
.plan h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 60px;
    color: #151414;
}
.plan .plan-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan .plan-items .item{
    text-align: center;
}
.plan .plan-items .item img{
    width: 80px;
}
.plan .plan-items .item h4 {
    font-weight: 700;
    font-size: 30px;
    margin: 24px 0 10px 0;
    line-height: 35px;
}
.plan .plan-items .item p{
    font-weight: 500;
    font-size: 22px;
    color:  #737272;
    line-height: 29px;
}
/*========= about part styles  end======== */

/*========= blog part styles  start======== */
#blog-section{
    margin-bottom: 200px;
}
.blog{
    max-width: 1170px;
    margin: auto;
}
.blog-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 80px;
    color: #151414;
}
.blog .blog-item{ 
    float: left;
    width: 30.33%;
    margin-right: 3%;
}
.blog .blog-item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.blog .blog-item .blog-content{
    padding-left: 10px;
    border-right: 2px solid #7372723a;
    border-left: 2px solid #7372723a;
    border-bottom: 2px solid #7372723a;
}
.blog .blog-item .blog-content h4{
    font-weight: 600;
    font-size: 30px;
    color: #151414eb;
}
.blog .blog-item .blog-content p{
    font-weight: 400;
    font-size: 16px;
    color:  #737272;
    margin: 14px 0;
}
.blog-btn{
    margin-bottom: 40px ;
    display: inline-block;
    color: #ff5e00;
    font-size: 14px;
}
/*========= blog part styles  end======== */

